a {
    text-decoration: none;
  }

.header {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between; 
    padding: 0.8rem;
    width: 100%;
    box-sizing: border-box;
    left: 0;
     top: 0;
}

main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin-top: 100px;
}

.site-title {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.nav-right {
  display: flex;
  gap: 4rem;
  width: auto;
  padding-left: 0;
}
  
  .main-buttons {
    font-family: 'Georgia Pro', serif;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    color: black;
  }

.main-content {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-bottom: 0;
    font-family: 'Times New Roman';
    font-size: 1.2rem;
  }
  
  .text {
    position: fixed;
    left: 2rem;
    top: 4rem;
    color: black;
    pointer-events: none;
    max-width: 70vw;
  }
  
  .acknowledgements {
    font-size: 0.8rem;
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    max-width: 50vw;
  }
  